<!DOCTYPE html>
<html>
  <head>
    <title>Legion CTF #1</title>
  </head>
  <body>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    {{#namespace}}
    <div style="border-width: 2px; border-style: outset; padding: 5px">
      <h2>{{namespace}}</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Label</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {{#secrets}}
          <tr>
            <td>{{ key }}</td>
            <td>{{ secret }}</td>
          </tr>
          {{/secrets}}
          {{^secrets}}
          <tr>
            <td span="2">
              You have no secrets stored with us.
            </td>
          </tr>
          {{/secrets}}
        </tbody>
      </table>

      <hr />
    </div>
    {{/namespace}}
<p>A user has added a code under a secret namespace. The label of the value is "ctfcode". Try and play with me to find the secret namespaces.</p>
    <form action="" method="GET" role="form">
      <label for="change_namespace">
        Enter a namespace to retrieve your secrets
      </label>
	<div class="form-group">
      <input name="namespace" id="change_namespace" class="form-control" style="width: 60%" />
      <input type="submit" value="Locate Secrets" class="btn btn-info" />
	</div> 
   </form>
  </body>
</html>
